@import "./_partials/reset";
@import "./_partials/typography";
@import "./_partials/nav";

// GENERAL
.image-wrapper img {
  width: 100%;
  height: auto;
}

.container {
  max-width: 1190px;
  margin: auto;
}

.center {
  text-align: center;
}

.builds {
  display: flex;
  align-items: center;
  flex-direction: column;
}
